@font-face {
  font-family: silka regular;
  src: url(fonts/silka-regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: silka medium;
  src: url(fonts/silka-medium.woff) format('woff');
  font-weight: 700;
  font-display: swap;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-light-gray: #e9ecef;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-black-mute);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-box-icon: var(--vt-c-light-gray);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

p {
  margin: 0.5em 0;
}

.mt-1 {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  font-size: 15px;
  font-family: silka regular, sans-serif;
  line-height: 24px;
  letter-spacing: .5px;
  font-weight: 400;
}

.main {
  padding: 80px 50px 120px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1800px;
  margin: auto;
}

nav {
  display: flex;
  flex-flow: column;
  position: sticky;
  top: 80px;
  gap: 0.75rem;

  a {
    border-radius: 1rem;
    padding: 0.75em;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }

  .router-link-active {
    background-color: var(--color-border);
  }

  .me-small {
    width: 30px;
    padding: 0;
    margin: -8px;
  }
}

.title {
  font-family: silka medium, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-heading);
}

.description {
  font-family: silka medium, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--color-heading);
}

.buttonText {
  margin-top: 1em;
  flex: 1;
}

.grid {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 250px 250px;
  grid-gap: 1rem;
  grid-auto-rows: 280px;
}

.grid_1_1 {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.grid-carrer {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 1rem;

  .job-date {
    color: #6c6c6c;
  }
}

.grid-skills {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  div {
    font-size: 15px;
    color: white;
  }
}

.box {
  overflow: hidden;
  border-radius: 32px;
  will-change: transform;
  background: var(--color-background);
  position: relative;
  width: 100%;

  &.box-width-2 {
    grid-column: span 2;
  }

  &.box-width-3 {
    grid-column: span 3;
  }

  &.box-width-4 {
    grid-column: span 4;
  }

  &.box-width-height-2 {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.box-width-3-height-2 {
    grid-row: span 2;
    grid-column: span 3;
  }

  .box-content {
    padding: 36px;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;

    &.box-map {
      padding: 36px 25px;
      align-items: center;

      .title {
        font-size: 15px;
      }
    }
  }

  &.box-with-background {
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    background-position: top;

    .box-content {
      align-items: unset;
      justify-content: unset;
    }

    .title {
      font-size: 20px;
      color: var(--vt-c-text-dark-1);
    }

    .description {
      color: var(--vt-c-white-mute);
    }
  }

  .box-button {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background: var(--vt-c-white-mute);
    color: var(--vt-c-text-light-1);
    text-decoration: none;
    border-radius: 32px;
    padding: 0.5em 1em;
  }

  .about-me {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 5rem;

    &.box-content {
      align-items: center;
    }

    .my-memoji {
      animation: zoom-in-zoom-out 1s ease-out;
      height: 100%;

      .my-memoji-image {
        height: 16em;
        position: absolute;
        bottom: -4em;
        left: -2.5em;
      }
    }
  }

  .social-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      margin-top: 1em;
      color: var(--vt-c-white);
      font-size: 15px;
    }
  }

  &.linkedin {
    background-color: #0b66c2;

    img {
      width: 50px;
    }
  }

  &.git {
    background-color: #1b1f23;

    img {
      width: 45px;
    }
  }

  .position-icon {
    margin-bottom: 1em;
    width: 70px;
  }
}

.box-icon {
  border-radius: 32px;
  padding: 0.75em;
  font-size: 40px;
  text-align: center;
  background-color: var(--color-box-icon);
}

/* TRANSITIONS */

.slide-enter-active,
.slide-leave-active {
  transition: all 1s ease-out;
  width: calc(100vw - 208px);
  left: 10.5em;
}

.slide-enter-from {
  position: absolute;
  top: -200vh;
}

.slide-enter-to {
  position: absolute;
  top: 5.5em;
}

.slide-leave-from {
  position: absolute;
  bottom: -5em;
}

.slide-leave-to {
  position: absolute;
  bottom: -200vh;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0)
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-box-icon: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

@media (max-width: 1300px) {
  body {
    padding: 0 1em;
  }

  .main {
    padding: unset;
    display: unset;
    flex-flow: unset;
    align-items: unset;
    gap: unset;
  }

  nav {
    flex-flow: row;
    position: unset;
    top: unset;
    left: unset;
    justify-content: center;
    margin: 2rem auto 2rem auto;

    a {
      width: 5rem;
    }
  }

  .grid_1_1 .box .box-content {
    justify-content: unset;
  }

  .grid-about {
    grid-template-columns: 1fr 1fr;
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 1s ease-out;
    width: calc(100vw - 2em);
    left: 0;
  }

  .slide-enter-from {
    position: absolute;
    top: -200vh;
  }

  .slide-enter-to {
    position: absolute;
    top: 0;
  }

  .slide-leave-from {
    position: absolute;
    top: 5.5em;
  }

  .slide-leave-to {
    position: absolute;
    bottom: -200vh;
  }
}

@media (max-width: 1080px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .grid_1_1 {
    grid-template-columns: 1fr;
  }

  .box {
    .about-me {
      grid-template-columns: 1.5fr 3fr;
    }

    &.box-width-3 {
      grid-column: unset;
    }

    &.box-width-height-2 {
      grid-row: unset;
      grid-column: unset;
    }

    &.box-width-3-height-2 {
      grid-column: span 4;
    }

    &.box-width-2 {
      grid-column: span 4;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 1s ease-out;
    width: calc(100vw - 2em);
  }

  .slide-enter-from {
    position: absolute;
    top: -300vh;
  }

  .slide-enter-to {
    position: absolute;
    top: 0;
  }

  .slide-leave-from {
    position: absolute;
    top: 0;
  }

  .slide-leave-to {
    position: absolute;
    bottom: -400vh;
  }
}

@media (max-width: 600px) {
  nav {
    gap: 0.5rem;

    a {
      width: 4rem;
      font-size: 25px;
    }

    .me-small {
      width: 25px;
    }
  }

  .box {
    max-width: calc(100vw - 2em);

    .about-me {
      display: block;

      .my-presentation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
      }

      .my-memoji {
        display: none;
      }
    }
  }

  .grid-skills {
    grid-template-columns: 1fr 1fr;
  }
}
